%h3
	= t("cmn_sentence.listTitle", model:Offer.model_name.human)
.my-3.p-3.bg-white.rounded.box-shadow
	%h6.border-bottom.border-gray.pb-2.mb-0
	= "表示件数#{@var.view_count}件"
	= form_tag 'edit' do
		.media-body.app-datablock
			=label_tag 'keyword'
			= text_field_tag 'keyword'
		.d-flex.justify-content-end
			=submit_tag t('cmn_sentence.searchButton', model:Offer.model_name.human)
	
	- @proposals.each do |proposal|
		.media.text-muted.pt-3
			.app-data-title
				=helper_get_proposal_link(proposal)
			