%h2=@var.title
.y-3.p-3.bg-white.rounded.box-shadow
  -# 案件セクション
  .sl-border-primary.proposal-offer
    .col-12
      = render partial: 'offer/offer_description', locals: { offer: @proposal.offer }
  -# 技術者セクション
  .sl-border-primary.proposal-engineer
    .col-12
      = render partial: 'engineer/engineer_description', locals:{engineer: @proposal.engineer}
  -# 提案フォーム
  = form_for @proposal, url: (@var.mode=="new" ? url_for(action: 'create') : url_for(action:'update',id:@var.mode)) do |f|
    =f.hidden_field :offer_id, value:(@proposal.offer.nil? ? -1 : @proposal.offer.id)
    =f.hidden_field :engineer_id, value:(@proposal.engineer.nil? ? -1 : @proposal.engineer.id)
    .row
      .col-4.d-flex.flex-column
        .px-1
          = f.label :offered_staff_id, Proposal.human_attribute_name('offered_staff')
        .px-1
          = f.collection_select :offered_staff_id, Staff.enable, :id, :get_display_name, include_blank:t("cmn_sentence.no_selected")
        .px-1
          = f.label :office_contact_id, Proposal.human_attribute_name('office_contact')
        .px-1
          = f.collection_select :office_contact_id, helper_get_office_contacts(@proposal), :id, :contact_name, include_blank:t("cmn_sentence.no_selected")
      .col-8.d-flex.flex-column
        -@proposal.history = Date.today.strftime + "\n" + (@proposal.history.blank? ? "": @proposal.history)
        .px-1
          = f.label :history, Proposal.human_attribute_name('history')
        = f.text_area :history, class:'sl-large'
    .sl-row-rightAlign
      .col-4.align-content-end
        = f.submit class:'mx-2'
  -# その他の提案技術者
  .sl-border-primary
    .col-12
      =t('.other_engineer')
      - if @proposal.other_engineers.size > 0
        =render partial: 'engineer/engineer_proposals', collection: @proposal.other_engineers, as: "engineer"
      - else
        = t('cmn_sentence.noResult', model:Engineer.model_name.human)
  .sl-border-primary
    .col-12
      =t('.other_offer')
      - if @proposal.other_businesses.size > 0
        =render partial: 'business/business_proposal', collection: @proposal.other_offers, as: "other_offer"
      - else
        = t('cmn_sentence.noResult',model:Offer.model_name.human)
-# modal object
=render partial: 'business/business_search', layout: 'search_modal_bootstrap', locals: {modal_var:@var,modal_id:"bootstrapModal"}
=render partial: 'engineer/engineer_search', layout: 'search_modal_bootstrap', locals: {modal_var:@var,modal_id:"bootstrapModalforEngineer"}