.media.text-muted.pt-3
	%img{alt:"32x32", class:"mr-2 rounded", src:"#{image_path(user.get_display_image)}", style:"width: 32px; height: 32px"}
		.media-body.app-datablock
			.app-data-title
				id:
				%span{id:"userid-#{user.id}"}
					=user.id
			.app-data-title
				%span.app-data-label
					login-id:
				%span.app-data-content
					=user.email
				.d-block.p-4
					- if user.person_info.blank?
						-form_tag()
						.d-blockk.warning.m-2
							=t("common_users.login_user_not_assosiated")
						.d-flex.justify-content-end
							=button_tag t("cmn_sentence.select_prompt", model:PersonInfo.model_name.human), type:'button', id:"associate_person", class:"btn btn-primary"
							= link_to t("cmn_sentence.newTitle", model:PersonInfo.model_name.human), {controller:"common_users", action:"new"}
							=button_tag t("cmn_sentence.newTitle", model:PersonInfo.model_name.human)
					- else
						= "#{user.person_info.getFullName}(#{user.person_info_id.getFullKana})"
