.row
  .col-auto
    %h3
      = t("cmn_dict.property")
    = helper_grid_link_to HatLevel, "hat_levels"
    = helper_grid_link_to HatType, "hat_types"
    = helper_grid_link_to SkillLevel, "skill_levels"
    = helper_grid_link_to SkillType, "skill_types"
    = helper_grid_link_to TrainedType, "trained_types"
    = helper_grid_link_to BusinessStatus, "business_statuses"
    = helper_grid_link_to EngineerStatusType, "engineer_status_types"
    = helper_grid_link_to OfficeStatus, "office_statuses"
    = helper_grid_link_to OfficeType, "office_types"
.row
  .col-auto
    %h3
      = t("cmn_dict.main_data")
    = helper_grid_link_to Office, "offices"
    = helper_grid_link_to Engineer, "engineers"
    = helper_grid_link_to Business, "businesses"
    = helper_grid_link_to Career, "careers"
    = helper_grid_link_to EngineerHopeBusiness, "engineer_hope_businesses"
    = helper_grid_link_to Contact, "contacts"
    = helper_grid_link_to EngineerHiring, "engineer_hirings"
    = helper_grid_link_to Staff, "staffs"
    = helper_grid_link_to User, "users"
    = helper_grid_link_to Proposal, "proposals"