%h2=@var.title
.y-3.p-3.bg-white.rounded.box-shadow
	-# 事業セクション
	.sl-border-primary.offer-business
		.col-12
			=Business.model_name.human
			- if @offer.business.nil?
				.row
					.col-12
						= t('offer_sentence.no_business',office:Office.model_name.human,business:Business.model_name.human)
				.sl-row-rightAlign
					.col-6
						= link_to t('cmn_sentence.listTitle',model:Office.model_name.human), {controller: 'office', action:'index'}, class:"mx-2", target:"_blank"
						= button_tag t('cmn_sentence.searchButton', model:Business.model_name.human), type:"button", class:'btn btn-primary', data:{toggle:'modal',target:'#bootstrapModal'}
			- else
				= render partial: 'businesses/business_description', locals: { business: @offer.business }
	- # 求人フォーム
	= form_for @offer, url: (@var.mode=="new" ? url_for(action: 'create') : url_for(action:'update',id:@var.mode)) do |f|
		.row
			.col-6.d-flex.flex-column
				.px-1
					= f.label :title
				.px-1
					= f.text_field :title
	-# その他の求人
	.sl-border-primary
		.col-12
			=t('cmn_sentence.otherTitie',model:Offer.model_name.human)
			=render partial: 'offer', collection: @offer.brothers
	-# modal object
	=render partial: 'businesses/business_search', layout: 'search_modal_bootstrap', locals: {modal_var:@var}