%h2=@var.title
.y-3.p-3.bg-white.rounded.box-shadow
	-# 事業セクション
	.sl-border-primary.offer-business
		.col-12
			=Business.model_name.human
			- if @offer.business.nil?
				-bus_id=-1
				.row
					.col-12
						= t('.no_business', office:Office.model_name.human,business:Business.model_name.human)
				.sl-row-rightAlign
					.col-6
						= link_to t('cmn_sentence.listTitle',model:Office.model_name.human), {controller: 'office', action:'index'}, class:"mx-2", target:"_blank"
						= button_tag t('cmn_sentence.searchButton', model:Business.model_name.human), type:"button", class:'btn btn-primary', data:{toggle:'modal',target:'#bootstrapModal'}
			- else
				-bus_id = @offer.business_id
				= render partial: 'business/business_description', locals: { business: @offer.business }
	- # 求人フォーム
	= form_for @offer, url: (@var.mode=="new" ? url_for(action: 'create') : url_for(action:'update',id:@var.mode)) do |f|
		=f.hidden_field :business_id, value:bus_id
		.row
			.col-4.d-flex.flex-column
				.px-1
					= f.label :title, Offer.human_attribute_name('title')
				.px-1
					= f.text_field :title, size:30
				.px-1
					= f.collection_select :offer_status_id, @var.offer_statuses, :id,  :name,
					 include_blank:t('cmn_sentence.select_prompt', model:OfferStatus.model_name.human)
				.px-1
					= f.label :work_at, Offer.human_attribute_name('work_at')
				.px-1
					= f.text_field :work_at
				.px-1
					= f.label :start_from, Offer.human_attribute_name('start_from')
				.px-1
					= f.date_field :start_from
				.px-1
					= f.label :start_from, Offer.human_attribute_name('want_until')
				.px-1
					= f.date_field :want_until
			.col-8.d-flex.flex-column
				.px-1
					= f.label :description, Offer.human_attribute_name('description')
				.px-1.sl-large
					= f.text_area :description, class:'sl-large'
		.sl-row-rightAlign
			.col-4.align-content-end
				= f.submit class:'mx-2'
				- if @offer.persisted?
					- @var.offer_object = @offer
					= button_tag t('.proposal', engineer:Engineer.model_name.human, proposal:Proposal.model_name.human), type:"button", class:'btn', data:{toggle:'modal',target:'#bootstrapModalforEngineer'}
	-# その他の求人
	.sl-border-primary
		.col-12
			=t('cmn_sentence.otherTitie',model:Offer.model_name.human)
			=render partial: 'offer', collection: @offer.brothers
	-# modal object
	=render partial: 'business/business_search', layout: 'search_modal_bootstrap', locals: {modal_var:@var,modal_id:"bootstrapModal"}
	=render partial: 'engineer/engineer_search', layout: 'search_modal_bootstrap', locals: {modal_var:@var,modal_id:"bootstrapModalforEngineer"}