<h1><%= t('cmn_dict.office')+'一覧' %></h1>

<div class="container">
	<div class="sl-row-rightAlign">
		<div class="col-4">
			<h6 class="border-bottom border-gray pb-2 mb-0">表示件数<%= @var.view_count %>件</h6>
		</div>
	</div>
	<div class="sl-border-primary">
		<div class="col-12">
			<%=form_tag do %>
				<% render 'office_search' # views/office/_office_search.html.erb %>
			<% end %>
		</div>
	</div>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
	<% 	@offices.each do |office| %>
		<div class="media pt-3">
			<div class="media-body app-datablock">
				<div class="app-data-title">
					id: <span id="office-id-<%=office.id%>"> <%=office.id%></span>
					<%= link_to controller:"office", action:"edit", id:office.id do %>
						<span id="office-cd-<%=office.cd%>"> <%=office.cd%></span>
						<span id="office-name-<%=office.cd%>"> <%=office.name%></span>
						(<span id="office-name-kana-<%=office.cd%>"> <%=office.name_kana%></span>)
					<% end %>
				</div>
				<div class="d-block p-4">
					<% if office.parent.blank? %>
						<div class="d-flex justify-content-end">
							<button type="button" id="assosiate_person" class="btn btn-primary" data-toggle="modal" data-target="#searchModal"> 親事業所紐付け </button>
						</div>
					<% else %>
						<%= offie.parent.cd %> : <%= office.parent.name %>
					<% end %>
				</div>
				<div class="d-block p-4">
					<%= link_to({controller:"business", action:"new", office_id: office.id} ) do %>
					<%= button_tag t('cmn_sentence.newTitle', model: t('cmn_dict.business')) %>
						<% end %>

				</div>
			</div>

		</div>
	<% end %>

	<small class="d-block text-right mt-3">
		<a href="#">All updates</a>
	</small>
</div>

