<h1><%= t('cmn_dict.office')+'一覧' %></h1>

<div class="container">
	<div class="sl-row-rightAlign">
		<div class="col-4">
			<h6 class="border-bottom border-gray pb-2 mb-0">表示件数<%= @res_cnt %>件</h6>
		</div>
	</div>
	<div class="sl-border-primary">
		<div class="col-12">
			<%=form_tag do %>
				<div class="row">
					<div class="col-4">
						<%= label_tag('name', '事業所名:') %><%= text_field_tag(:name, getParamCondVal(@var.search_cond,:name)) %>
					</div>
					<div class="col-4">
						<%= label_tag('cd', '事業所CD:') %><%= text_field_tag(:cd, getParamCondVal(@var.search_cond,:cd)) %>
					</div>
					<div class="col-4">
						<%= label_tag 'office_status_id', t('Status')+':' %>
						<%= select_tag 'office_status_id', options_from_collection_for_select(@var.officeStatus,:id, :name),include_blank: t("cmn_dict.all_for_select") %>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<%= label_tag('keyword', t('cmn_dict.freeword')+':') %><%= text_field_tag(:keyword, getParamCondVal(@var.search_cond,:keyword), size: 50) %>
					</div>
					<div class="col-4">
						<%= submit_tag(t('cmn_dict.search')+':') %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
	<% 	@offices.each do |office| %>
		<div class="media pt-3">
			<div class="media-body app-datablock">
				<div class="app-data-title">
					id: <span id="office-id-<%=office.id%>"> <%=office.id%></span>
					cd: <span id="office-cd-<%=office.cd%>"> <%=office.cd%></span>
					<span id="office-name-<%=office.name%>"> <%=office.name%></span>
					(<span id="office-name-<%=office.name_kana%>"> <%=office.name%></span>)
				</div>
				<div class="d-block p-4">
					<% if office.parent.blank? then
					%>
						<div class="d-flex justify-content-end">
							<button type="button" id="assosiate_person" class="btn btn-primary" data-toggle="modal" data-target="#searchModal"> 親事業所紐付け </button>
						</div>
					<% else %>
						<%= offie.parent.cd %> : <%= office.parent.name %>
					<% end %>
				</div>
			</div>

		</div>
	<% end %>

	<small class="d-block text-right mt-3">
		<a href="#">All updates</a>
	</small>
</div>

