<%= render "application/jpostal_common" %>
<h1> <%= @var.title %></h1>
<div class="my-3 p-3 bg-white rounded box-shadow">

	<%= form_for(@office,
		url: (@var.mode=="new" ? url_for(controller: "office", action: "new") : \
			url_for(controller:"office", action: "update", id: @var.mode)) ) do |f| %>
		<div class="row">
			<% #契約状態 → office statuses のドロップダウン %>
			<div class="col-2">
				<%= f.collection_select :office_status_id, @var.office_statuses, :id, :name%>
			</div>
			<div class="col-4">
				<%= f.label :cd, '事業所コード：' %><%= f.text_field :cd%>
			</div>
			<div class="col-6">
				<%= f.label :office_type_id, '事業所種別：' %>
				<%= f.collection_select :office_type_id, @var.office_types, :id,  :name%>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<%= f.label :name, '事業所表示名：' %><%= f.text_field :name, size: 30 %>
			</div>
			<div class="col-6">
				<%= f.label :name_kana, '表示名よみがな：' %><%= f.text_field :name_kana, size: 30 %>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<%= f.label :long_name, '事業所正式名称：' %><%= f.text_field :long_name, size: 30 %>
			</div>
			<div class="col-6">
				<%= f.label :long_name_kana, '正式名称よみがな:' %><%= f.text_field :long_name_kana, size: 30 %>
			</div>
		</div>

		<div class="sl-border-primary">
			<div class="col-sm-10">
				<%= hidden_field :office, :parent_id %>

				<%= fields_for(@office.parent) do |parent| %>
					<div class="row">
						<% #上位事業所 : モーダルで検索→入力 %>
						<div class="col-7">
							<%= parent.label :cd, '親事業所コード：' %><%= parent.text_field :cd, size: 15, readonly: "readonly" %>
							<%= button_tag 'Search ', type: 'button', onclick: 'SearchParentOffice()' %>
						</div>
						<div class="col-5">
							親事業所：<%= @office.parent.nil? ? '[未定義]' : @office.parent.name %>
						</div>
					</div>
				<% end %>

			</div>
			<script>
				function SearchParentOffice() {
					alert('need to be implement')
				}
			</script>

		</div>

		<div class="sl-border-primary">
			<% if @office.children.count > 0 %>
			<div class="col-sm-10">
				<h3>この事業所を親とする事業所</h3>
				<%= @office.children.each do |child| %>
					<div class="row">
						<div class="col-3">
							<%= child.label :cd, 'コード：' %><%= child.text_field :cd, size: 15, readonly: "readonly" %>
						</div>
						<div class="col-4">
							<%= child.label :name, '事業所名：' %><%= child.text_field :cd, size: 15, readonly: "readonly" %>
						</div>
						<div class="col-2">
							<%= button_tag '詳細', type: 'button', onclick: 'showDetail(' + child.cd + ');' %>
						</div>
						<div class="col-2">
							<%= button_tag '独立', type: 'button', onclick: 'detachOffice(' + child.cd + ');' %>
						</div>
					</div>
				<% end %>
			</div>
			<% else %>
			<div class="col-sm-10">
				<h3>この事業所を親とする事業所</h3>
				<p>なし</p>
			</div>
			<% end %>
		</div>
		<script>
			function showDetail(office_code) {
				alert('NYI');
			}

			function detachOffice(office_code) {
				alert('NYI');
			}
		</script>

		<%= f.fields_for(:primary_address) do |address| %>

			<div class="sl-border-primary">
				<div class="col-sm-10">
					<h3>事業所所在地</h3>
					<div class="row">
						<div class="col-auto">
							<%= address.label :postal_code, '郵便番号(ハイフン無し)：' %><%= address.text_field :postal_code, id:"postcode", placeholder:"1000001" %>
						</div>
						<div class="col-auto">
							<%= address.label :prefecture_id, '都道府県' %>
							<%= address.collection_select :prefecture_id, Prefecture.all, :id, :name, {},{class:"address1"} %>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<%= address.label :address, '市区町村・番地:' %><%= address.text_field :address, style:"width:70%", id:"address2" %>
						</div>
						<div class="col-6">
							<%= address.label :building, '建物名:' %><%= address.text_field :building, style:"width:70%", id:"address3"     %>
						</div>
					</div>
					<% #追加住所は一旦許容しない %>
				</div>
			</div>
		<% end %>

		<div class="sl-border-primary">
			<div class="col-sm-12">
				<%= f.fields_for(:primary_contact) do |contact| %>
				<h3>主な連絡先</h3>
				<div class="row">
					<div class="col-6">
						<%= contact.label :contact_name, Contact.human_attribute_name('contact_name') %>
						<%= contact.text_field :contact_name, class:"sl-auto-input" %>
					</div>
					<div class="col-6">
						<%= contact.label :contact_kana, Contact.human_attribute_name('contact_kana') %>
						<%= contact.text_field :contact_kana, class:"sl-auto-input" %>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<%= contact.select :contact_type, Contact.contact_types.to_a.map {|s| [t("contact_types.#{s[0]}"), s[0]]} %>
						<%= contact.text_field :contact_value, class:'sl-large' %>
					</div>

				</div>
				<div class="row">
					<div class="col-9">
						<%= contact.label :title, '連絡先説明：' %><%= contact.text_field :title, size: 80 %>
					</div>
				</div>
				<% end %>
				<div class="sl-row-border-secondary">
					<div class="col-sm-12">
						<h4>その他の連絡先</h4>
						<% if @office.contacts.count > 0 %>
							<% @office.contacts.each do |officeContact| %>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-12">
											<%= officeContact.label :title, '連絡先説明：' %>
											<%= officeContact.text_field :title, size: 80 %>
											<%= button_tag '連絡先削除', type: 'button', onclick: 'deleteContact(' + officeContact.id + ');' %>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<%= officeContact.label :contact_type, '種別：', class: 'invisible' %>
											<%= officeContact.select :contact_type, Contact.contact_types.to_a.map {|s| [t("contact_types.#{s[0]}"), s[0]]} %>
											<%= officeContact.text_field :contact_value, class:'sl-large' %>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<%= officeContact.label :contact_name, Contact.human_attribute_name('contact_name') %>
											<%= officeContact.text_field :contact_name, size: 100 %>
										</div>
										<div class="col-4">
											<%= officeContact.label :contact_kana, Contact.human_attribute_name('contact_kana') %>
											<%= officeContact.text_field :contact_kana, size: 100 %>
										</div>
									</div>
								</div>
							<% end %>
						<% end %>
						<div class="sl-row-rightAlign">
							<div class="col-5 text-right">
								<%= button_tag '連絡先追加', type: 'button', onclick: 'addNewContact();' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sl-border-primary">
			<div class="col-sm-10">
				<%= render "business/business_listparts",
					businesses:@office.businesses,
					title:Office.human_attribute_name(:business),
					office_id:@office.id,
					f:f
				%>
			</div>
		</div>
		<script>
			function editBusiness(business_id) {
				alert("editBusiness NYI");
			}

			function deleteBusiness(business_id) {
				alert("delete Business NYI");
			}

			function addBusiness() {
				alert("add Business NYI");
			}
		</script>

		<div class="sl-row-rightAlign">
			<div class="col-4 text-right">
				<span class="float-md-right mx-3"><%= f.submit %></span>
			</div>
		</div>
<% end %>
</div>
<% # render partial 'search_parent', layout: 'bootstrap_modal', locals: {modalSCDecorator: mcd} %>
