<div class="row">
	<div class="col-8">
		<span class="sl-title"><%= business.name %></span>
		<span class="sl-content px-4"><%= business.description %></span>
		<%= helper_get_hat_strings(business.hats, HatLevel.all.map{|hl| [hl.id, hl]}.to_h) %>
        <%= helper_get_skill_strings(business.skills, SkillLevel.all.map{|hl| [hl.id, hl]}.to_h) %>
	</div>
	<div class="col-4">
		<%= link_to url:{controller:"business", action: "edit", id:business.id}, target:"_blank" do %>
			<%= button_tag "編集", type: "button" %>
		<% end %>
		<%= button_tag "削除", type: "button", onclick: "deleteBusiness(#{business.id})" %>
	</div>
</div>
