-# child, var
.career_input
	.sl-row-border-secondary
		.col-12
			.row
				.col-4.d-flex.flex-column
					.px-1
						= child.collection_select :skill_id, var.skills, :id, :name,
										 include_blank: t('cmn_sentence.select_prompt',model:Skill.model_name.human)
					.px-1
						= child.label :career_from, Career.human_attribute_name("career_from")
					.px-1
						= child.date_field :career_from
					.px-1
						= child.label :career_at,
											Career.human_attribute_name("career_at")
					.px-1
						= child.text_field :career_at, class:"sl-auto-input"
				.col-8.d-flex.flex-column
					.p-1
						= child.label :description, Career.human_attribute_name("description")
					.p-1.sl-large
						= child.text_area :description, class:"sl-large"
				.row
					.col-12
						= child.hidden_field(:id)
						= child.hidden_field :_destroy
						= link_to t("cmn_sentence.deleteTitle", model:Career.model_name.human), 'javascript:void(0)', class:"career_remove_fields"
