<% # var: hiring, office %>
<%= hiring.hidden_field :office_id %>
<div class="row">
  <div class="col-3"><h3><%= EngineerHiring.model_name.human %></h3></div>
  <div class="col-2">
    <%= hiring.select :status,
                      ApplicationRecord.cmn_statuses.to_a.map {
                          |s| [t("cmn_enum.status.#{s[0]}"), s[0]]
                      } %>
  </div>
  <div class="col-7">
    <span class="sl-title">
      <%= Office.model_name.human %>
    </span>
    <span id="engineer_hiring_area">
    </span>
    <% helper_office_longname_html(office) unless office.nil?%>
    <%= button_tag t("cmn_sentence.searchButton", model: "派遣元"), type: "button", class: "btn",data: {toggle: "modal", target: "#bootstrapModalforOffice"} %>
  </div>
</div>
<div class="row">
  <div class="col-6 d-flex flex-column">
    <div class="p-0">
      <%= hiring.label :hiring_position,
                       EngineerHiring.human_attribute_name("hiring_position"),
                       class: "sl-auto-input" %>
      <%= hiring.text_field :hiring_position, class: "sl-auto-input" %>
    </div>
    <div class="p-0">
      <%= hiring.label :hiring_division,
                       EngineerHiring.human_attribute_name("hiring_division"),
                       class: "sl-auto-input" %>
      <%= hiring.text_field :hiring_division, class: "sl-auto-input" %>
    </div>
    <div class="p-0">
      <%= hiring.label :hired_from,
                       EngineerHiring.human_attribute_name("hired_from") %>
      <%= hiring.date_field :hired_from %>
    </div>
    <div class="p-0">
      <%= hiring.label :hired_until,
                       EngineerHiring.human_attribute_name("hired_until") %>
      <%= hiring.date_field :hired_until %>
    </div>
  </div>
  <div class="col-6 d-flex flex-column">
      <div class="p-1">
        <%= hiring.label :hiring_contact,
                         EngineerHiring.human_attribute_name("hiring_contact")
        %>
        <%= hiring.collection_select :hiring_contact_id,
                                     Contact.includes(:offices).where(offices: {id: @engineer.engineer_hiring.office_id}),
                                     :id, :contact_name,
                                     {include_blank: t('cmn_sentence.select_prompt', model: Contact.model_name.human)}
        %>
      </div>
      <%= hiring.label :hiring_memo,
                       EngineerHiring.human_attribute_name("hiring_memo") %>
      <%= hiring.text_area :hiring_memo, class: "sl-large" %>
  </div>
</div>
