<h1>NEW</h1>


<div class="my-3 p-3 bg-white rounded box-shadow">

	<%= form_for(@newPersonInfo, url: url_for(controller: "common_users", action: "new")) do |f| %>
		<div class="row">
			<%= f.label :last_name, 'Last Name(姓)' %><%= f.text_field :last_name, size: 30 %>
			<%= f.label :first_name, 'First Name(名)' %>:<%= f.text_field :first_name, size: 30 %>
			<%= f.label :middle_name, 'Middle Name' %><%= f.text_field :middle_name, size: 30 %>
		</div>
		<div class="row">
			<%= f.label :kana_last_name, '姓（カナ）' %><%= f.text_field :first_name, size: 30 %>
			<%= f.label :kana_last_name, '名(カナ)' %><%= f.text_field :kana_last_name, size: 30 %>
			<%= f.label :kana_middle_name, 'ミドルネーム(カナ)' %><%= f.text_field :kana_middle_name, size: 30 %>
		</div>
		<div class="row">
			<%= f.label :user_status, '属性情報の有効性' %><%= f.select :user_status, PersonInfo.user_statuses.to_a.map {|s| [t("cmn_enum.status.#{s[0]}"),s[1]]} %>
		</div>
		<div class="row">
			<%= f.label :memo, 'メモ' %><%= f.text_area :memo, size: "100x20" %>
		</div>
		<div class="row">
			<%= f.label :created_at %><%= f.text_field :created_at, size: 50, readonly:true %>
			<%= f.label :updated_at %><%= f.text_field :updated_at, size: 50, readonly:true %>
		</div>

	<% end %>
</div>

