<%
# sample : https://getbootstrap.com/docs/4.1/examples/offcanvas/#
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Skillconnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= stylesheet_link_tag 'offcanvas' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
  <div class="header" role="banner" data-header-area="acquisition">
    <div class="header-lyt-column">
      <div class="col">
        <div class="header-inner">
          <div class="logo"><a href="/index.html">[Logo.png]
            <!-- img src="/common_a/img/header/logo.png" alt="SILVERION"--> </a></div>
          <!-- /header-inner --></div>
        <!-- /col --></div>

      <div class="col wide">
        <div class="header-menu js-header-menu">
          <div class="header-menu-inner">
            <div class="header-menu-hook">
              <button class="header-menu-txt"><span>メニュー</span></button>
            </div>
            <div class="header-menu-contents" style="opacity: 1;">
	            <p class="notice"><%= notice %></p>
	            <p class="alert"><%= alert %></p>
              <div class="header-search">
                <a href=".modal-search-inner" class="js-modal-search header-search-btn cboxElement"><!--img src="/common_a/img/header/btn-search-02.png" alt="検索"-->btnsearch.png</a>
                <div class="header-search-inner">
                  <div class="modal-search">
                    <div class="modal-search-inner">
                      <form name="search_form" action="https://search-yayoi-kk.dga.jp/" class="iSearchAssist" method="GET" onsubmit="return mysearch_ssl(this);">
                        <input title="サイト内検索" type="text" name="kw" value="" class="searchBox ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                        <input type="hidden" name="ie" value="s">
                        <!--input type="image" src="/common_a/img/header/btn-modal-search.png" alt="検索" class="search-btn"-->btn-search.png
                      </form>
                      <!-- /modal-search-inner --></div>
                    <!-- /modal-search --></div>
                  <!-- /header-search-inner --></div>
                <!-- /header-search --></div>

              <!-- ========================= Navigation Global ========================= -->
              <nav>
                <div class="nav-global js-global-dropdown">
                  <div class="nav-global-inner">
                    <ul class="nav-global-list js-current js-global-toggle">

                      <li data-global-category="reason" style="height: 41px;"><%= link_to('SILVERION', id:'link_to_home', controller: 'home', action: 'index', style: "height: 41px;") %></li>

                      <li class="global-dropdown global-toggle is-current" data-global-category="products" style="height: 41px;">
                        <div class="global-toggle-hook-wrap">
	                        <%= link_to('システム設定', id:'link-to-sysadmin', controller: 'home', action: 'sysadmin', style:'height: 41px;') %>
                        </div>
                      </li>
                      <li class="global-dropdown global-toggle" data-global-category="services" style="height: 41px;">
                        <div class="global-toggle-hook-wrap">
	                        <%= link_to('求人設定', id:'link-to-bizadmin', controller: 'home', action: 'bizadmin', style:'height: 41px;') %>
                        </div>
                      </li>
                      <li data-global-category="interview" style="height: 41px;">
	                      <div class="global-toggle-hook-wrap">
		                      <%= link_to('個人設定', id:'link-to-useradmin', controller: 'home', action: 'useradmin', style:'height: 41px;') %>
	                      </div>
                      </li>
                      <% if user_signed_in?  %>
		                    <li class="global-link-list"><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
                      <% else %>
		                    <li class="global-link-list"><%= link_to 'sign_up', new_user_registration_path %>
			                    <%= link_to 'login', new_user_session_path %></li>
                      <% end %>
                      
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main role="main" class="container">
	  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
		  <img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
		  <div class="lh-100">
			  <h2 class="mb-0 text-white lh-100"><%=@page_title%></h2>
			  <small>Since 2011</small>
		  </div>
	  </div>
	  <%= yield %>

  </main>

  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32</text></svg>
  </body>
</html>
